/* custom syle sheet */
/*Author's Name: Gil Emerson
StudentID: 200186807
Website Name: The Travel Report
File description: Landing Page (app.css)*/

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}